data/teamData/team*.json
data/playerData/player*.json
divisionData.json
season1/seasonData.json
season2/games/postseason.json
season2/games/postseason.json
season2/games/Week 1.json
season2/games/Week 10.json
season2/games/Week 11.json
season2/games/Week 12.json
season2/games/Week 13.json
season2/games/Week 14.json
season2/games/Week 15.json
season2/games/Week 16.json
season2/games/Week 17.json
season2/games/Week 18.json
season2/games/Week 2.json
season2/games/Week 3.json
season2/games/Week 4.json
season2/games/Week 5.json
season2/games/Week 6.json
season2/games/Week 7.json
season2/games/Week 8.json
season2/games/Week 9.json
season2/seasonData.json
season3/games/postseason.json
season3/games/Week 1.json
season3/games/Week 10.json
season3/games/Week 11.json
season3/games/Week 12.json
season3/games/Week 13.json
season3/games/Week 14.json
season3/games/Week 15.json
season3/games/Week 16.json
season3/games/Week 17.json
season3/games/Week 18.json
season3/games/Week 2.json
season3/games/Week 3.json
season3/games/Week 4.json
season3/games/Week 5.json
season3/games/Week 6.json
season3/games/Week 7.json
season3/games/Week 8.json
season3/games/Week 9.json
season3/seasonData.json
season4/games/postseason.json
season4/games/Week 1.json
season4/games/Week 10.json
season4/games/Week 11.json
season4/games/Week 12.json
season4/games/Week 13.json
season4/games/Week 14.json
season4/games/Week 15.json
season4/games/Week 16.json
season4/games/Week 17.json
season4/games/Week 18.json
season4/games/Week 2.json
season4/games/Week 3.json
season4/games/Week 4.json
season4/games/Week 5.json
season4/games/Week 6.json
season4/games/Week 7.json
season4/games/Week 8.json
season4/games/Week 9.json
season4/seasonData.json
season*
*.pyc
*.png
data/unusedNames.json
